profiles {

    standard {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }

    }

    docker {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    podman {

        podman {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    singularity {

        singularity {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-B "$TMPDIR"'

            autoMounts              = true

        }
    
    }

    download_refs {

        params.prep_resources       = true

        params.variant_calling      = false

    }

    variant_calling {

        params.prep_resources       = false

        params.variant_calling      = true

    }

}

process {

    executor                    = "slurm"

    clusterOptions              = "-A ucgd-rw --partition ucgd-rw -N 1"

    queueSize                   = 20
        
    errorStrategy               = "finish"

    withLabel: download_refs {

        container               = "ksw9/mtb-call:efetch"

    }

    withLabel: repeatmasker {

        container               = "ksw9/mtb-call:repeatmasker"

    }

    withLabel: nucmer {

        container               = "ksw9/mtb-call:mummer"

    }

    withLabel: trimgalore {

        container               = "ksw9/mtb-call:trimgalore"

    }

    withLabel: kraken2 {

        container               = "ksw9/mtb-call:kraken2"

    }
    
    withLabel: mapping {

        container               = "ksw9/mtb-call:mapping"

    }

    withLabel: variantcalling {

        container               = "ksw9/mtb-call:variantcalling"

    }

    withLabel: makesummary {

        container               = "ksw9/mtb-call:trimgalore"

    }

}

params {
    
    // Main files/directories
    // N.B. All paths are relative to resources_dir

    resources_dir                   = "/path/to/resources/dir"

    reads_list                      = "input/reads_list.tsv"

    kraken_database_path            = "kraken_db/standard_plus_eupath46"

    immitis_assembly_identifier     = "GCF_000149335.2"

    immitis_fasta_path              = "immitis_refs/GCF_000149335.2.fasta"

    immitis_fasta_index_path        = "immitis_refs/GCF_000149335.2.fasta.fai"

    immitis_bwa_index_path          = "immitis_bwa_index"

    immitis_gatk_dictionary_path    = "immitis_gatk_dictionary/GCF_000149335.2.dict"

    posadasii_assembly_identifier   = "GCA_018416015.2"

    posadasii_fasta_path            = "posadasii_refs/GCA_018416015.2.fasta"

    posadasii_fasta_index_path      = "posadasii_refs/GCA_018416015.2.fasta.fai"

    posadasii_bwa_index_path        = "posadasii_bwa_index"

    posadasii_gatk_dictionary_path  = "posadasii_gatk_dictionary/GCA_018416015.2.dict"

    snpeff_url                      = "https://snpeff.blob.core.windows.net/versions/snpEff_latest_core.zip"

    snpeff_dir                      = "snpEff"

    snpeff_immitis_db               = "GCF_000149335.2"

    snpeff_posadasii_db             = "GCA_018416015.2"

    snpeff_datapath                 = "snpEff/data"

    snpeff_config                   = "snpEff/snpEff.config"

    // Main variables

    repeatmasker_mask               = true

    nucmer_mask                     = true

    minimizers_log_ratio_thr        = 1.5

    kraken_filtering                = true

    run_lofreq                      = false

    seq_platform                    = "illumina"

    library                         = "library1"

    vcf_filter                      = 'QD > 2.0 && FS < 60.0 && MQ > 40.0 && DP > 10 && GQ > 50 && QUAL > 20 && QUAL != "." && RGQ > 20 && TYPE == "SNP"'

    ploidy                          = 1

    nextseq                         = false

    nextseq_qual_threshold          = 20
    
    variants_only                   = true

}
