profiles {

    standard {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"' // For compatibility with the parallel command called by Tb-Profiler

        }

    }

    docker {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"' // For compatibility with the parallel command called by Tb-Profiler

        }
    
    }

    podman {

        podman {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"' // For compatibility with the parallel command called by Tb-Profiler

        }
    
    }

    singularity {

        singularity {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-B "$TMPDIR"' // For compatibility with the parallel command called by Tb-Profiler

            autoMounts              = true

        }
    
    }

}

process {

    container                       = "ksw9/mtb-call"

    withLabel: slurm {

    	executor		            = "slurm"

    	clusterOptions		        = "-A ucgd-rw --partition ucgd-rw -N 1"
        
        errorStrategy               = "finish"

    }

}

params {
    
    // Main files/directories
    // N.B. All paths are relative to resources_dir

    resources_dir                   = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/kwalter_pipeline/cocci"

    reads_list                      = "input/reads_list.tsv"

    kraken_database_path            = "kraken_db/standard_plus_eupath46"

    immitis_fasta_path              = "immitis_refs/GCF_000149335.2.fasta"

    immitis_fasta_index_path        = "immitis_refs/GCF_000149335.2.fasta.fai"

    immitis_bwa_index_path          = "immitis_bwa_index"

    immitis_gatk_dictionary_path    = "immitis_gatk_dictionary/GCF_000149335.2.dict"

    posadasii_fasta_path            = "posadasii_refs/GCA_018416015.2.fasta"

    posadasii_fasta_index_path      = "posadasii_refs/GCA_018416015.2.fasta.fai"

    posadasii_bwa_index_path        = "posadasii_bwa_index"

    posadasii_gatk_dictionary_path  = "posadasii_gatk_dictionary/GCA_018416015.2.dict"

    snpeff                          = "snpEff/snpEff.jar"

    snpeff_immitis_db               = "Coccidioides_immitis_rs_gca_000149335"

    snpeff_posadasii_db             = "GCA_018416015.2"

    snpeff_datapath                 = "snpEff/data"

    snpeff_config		            = "snpEff/snpEff.config"

    // Main variables

    minimizers_log_ratio_thr        = 1.5

    run_lofreq                      = false

    seq_platform                    = "illumina"

    library                         = "library1"

    depth_threshold                 = 5

    qual_threshold                  = 20

    ploidy                          = 1

    nextseq                         = false

    nextseq_qual_threshold          = 20
    
    variants_only                   = true

}
